<div class="page-header">
  <%= link_to new_article_path, class: 'btn btn-primary', require_login: true do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Article
  <% end %>
  <h1>Listing articles</h1>
</div>

<div id="masonry-container" class="transitions-enabled clearfix">


  <%= div_for(@articles, class: 'box panel panel-default') do |article| %>
    <%= link_to (image_tag article.photo.panel.url, class: 'img-responsive'), article_path(article) if not article.photo.panel.url.nil? %>
    <div class="panel-body">
      <h2><%= link_to article.title, article_path(article) %><h2>
      <h4><% article.authors.each do |author| %><%= link_to author, author_path(author) %><% end %></h4> 
      <%= raw article.body.truncate 250 %>
      <hr />
      <%= article.featured %>
      <%= article.readcount %>
      <%= rating_for article, 'rating', star: 5, disable_after_rate: false %>
      <% if defined? article.category.category_name %><%= article.category.category_name %><% end %>
      <%= link_to 'Edit', edit_article_path(article), require_login: true %>
      <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, require_login: true %>
    </div>
  <% end %>

</div>
