<div class="page-header">
  <%= link_to articles_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_article_path(@article), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @article.title %></h1>
</div>


<div class="artcile-content">

  <p>By <% @article.authors.each do |author| %><%= link_to author, author_path %><% end %></p> 

  <section class="article-body"><%= raw @article.body %></section>

  <hr />

  <dl class="dl-horizontal well">
    <dt>Featured:</dt>
    <dd><%= @article.featured %></dd>

    <dt>Readcount:</dt>
    <dd><%= @article.readcount %></dd>

    <dt>Rating:</dt>
    <dd><%= rating_for @article, 'rating', star: 5, disable_after_rate: false %></dd>
  </dl>
</div>
