<div class="page-header">
  <%= link_to articles_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_article_path(@article), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show article</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @article.title %></dd>

  <dt>Body:</dt>
  <dd><%= @article.body %></dd>

  <dt>Featured:</dt>
  <dd><%= @article.featured %></dd>

  <dt>Readcount:</dt>
  <dd><%= @article.readcount %></dd>

  <dt>Rating:</dt>
  <dd><%= @article.rating %></dd>

</dl>
