<div class="page-header">
  <%= link_to new_author_path, class: 'btn btn-primary', require_login: true do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Author
  <% end %>
  <h1>Listing authors</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Firstname</th>
    
        <th>Lastname</th>
    
        <th>Bio</th>
    
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @authors) do |author| %>
    
        <td><%= author.firstname %></td>
    
        <td><%= author.lastname %></td>
    
        <td><%= author.bio %></td>
    
        <td><%= link_to 'Show', author, require_login: true %></td>
        <td><%= link_to 'Edit', edit_author_path(author), require_login: true %></td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }, require_login: true %></td>
      <% end %>
    </tbody>
  </table>
</div>
