<div class="page-header">
  <%= link_to authors_path, class: 'btn btn-default', require_login: true do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_author_path(@author), class: 'btn btn-primary', require_login: true do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @author %></h1>
</div>

<div class="row">
  <% if @author.photo.file.nil? %>
    <p class="caption"><%= @author.bio %></p>
  <% else %>
    <div class="col-md-2">
      <%= image_tag @author.photo, class: "author-thumb thumbnail" %>
    </div>
    <div class="col-md-10">
      <p class="caption"><%= @author.bio %></p>
    </div>
  <% end %>
</div>

<hr />

<dl class="dl-horizontal well">
  <dt>Articles:</dt>
  <dd><ul>
    <% @author.articles.each do |article| %>
      <li><%= link_to article.title, article_path(article) %></li>
    <% end %>
  </ul></dd>
</dl>
